.object-icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: -1px 1px 2px 0 gray;
    margin: 1rem;
    padding: 5px;
    transition: all 0.3s;
}

.object-icon.selected {
    border: 2px solid red;
    box-shadow: -4px 4px 4px 0 black;
}

.object-icon img {
    width: 100%;
}