.game-board {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
}

.game-board .game-header h1 {
    padding: 1rem;
}

.game-board main {
    position: relative;
    height: calc(100% - 170px);
    width: 100%;
}