.records table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin: 1rem auto;
    width: 80%;
}

.records td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.records tr:nth-child(even) {
    background-color: #dddddd;
}