.records table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin: 1rem 0;
    width: 50%;
}

.records td,
th {
    text-align: center;
    padding: 8px;
}

.records tr:nth-child(1) {
    border-bottom: 1px solid #dddddd;
}